
@import url('https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet');


body{
	padding: 0;
	margin: 0;
	border-radius: 4px;
	font-family: 'Lora', serif;
}

a:hover, a:active, a:focus {
	text-decoration: none;
}

a:active, a:focus {
	color: #363636;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Lora', serif;
}

.header-image {
	background-image: url(../images/header-bg.jpg);
	padding-top: 245px;
	padding-bottom: 145px;
	text-align: center;

}
.header-image h2 {
	font-size: 40px;
	line-height1.5;
	font-weight: 700;
	color: #fff;
	margin-bottom: 30px;
	margin-top: 0px;
}
.header-image a{
	font-size: 48px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
}
.header-image ul{}
.header-image ul li{
	display: inline-block;
	margin-right: 15px;
}
.header-image ul li a{
	display: inline-block;
    text-decoration: none;
    color: #6c5ebf;
    font-size: 14px;
    font-weight: 700;
    background-color: #fff;
    border-radius: 2px;
    padding: 15px 30px;
    transition: .25s ease-out;
}
.header-image ul li a:hover{
	background-color: #ffb400;
	color: #fff;
}
.header-image{}
.header-image{}


/*   demo section  */
.demo-section {
	padding-left: 30px;
	padding-right: 30px;
	overflow: hidden;
	padding-bottom: 60px;
	padding-top: 120px;
	text-align: center;
	background-color: #f8f8f8;
}
.demo-section h2{
	font-size: 36px;
	line-height: 1.5;
	font-weight: 700;
	color: #000000;
	margin-top: 0px;
}
.demo-section p{
	font-size: 18px;
	color: #696969;
	margin-bottom: 40px;
}
.demo-item {
	width: 33.33%;
	float: left;
	margin-bottom: 50px;
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
}
.demo-item-inner {
	padding-left: 15px;
	padding-right: 15px;
}
.demo-item-inner a {
	margin-bottom: 30px;
	box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.4);
    display: block;
    width: 100%;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}
.demo-item-inner img {
    width: 100%;
}
.demo-item:hover .demo-item-inner>a {
	box-shadow: 1px 10px 20px 5px rgba(0,0,0,0.4);
}
.demo-item:hover {
	transform: translateY(-10px);
}
.demo-item-inner p{
	font-size: 24px;
	font-weight: 700;
	color: #000000;
	margin-bottom: 0px;
}








.feature-section h2 {
	font-size: 36px;
	font-weight: 300;
	color: #4bb5ff;
	text-align: center;
	margin-bottom: 50px;
}
.feature-img {
    margin-bottom: 25px;
    border-radius: 5px;
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.3);
}
.feature-img img {
	width: 100%;
	border-radius: 5px;
}
.feature-content {
	text-align: center;
}
.feature-content h5 {
	font-size: 20px;
	color: #666;
}
.feature-content p {
	font-size: 15px;
	color: #666;
	line-height: 24px;
	display: none;
}
.feature-section {
	background-color: #f8f7f7;
	padding-top: 100px;
}
.feature-wrapper.row {
	margin-left: -25px;
	margin-right: -25px;
}
.feature-wrapper .col-md-4 {
	padding-left: 25px;
	padding-right: 25px;
}
.feature-item {
	padding-bottom: 60px;
	text-align: center;
}
.footer-top {
	padding-top: 70px;
	padding-bottom: 100px;
	background-image: url(../images/footer-bg.jpg);
	background-repeat: no-repeat;
	background-position: 100% 100%;
}
.footer-top h2 {
	font-size: 36px;
	color: #fca413;
	font-weight: 300;
}
.footer-top p {
	font-size: 18px;
	color: #000;
}

.footer-top .purchase-now {
	font-size: 18px;
	color: #fff;
	padding: 10px 40px;
	background-color: #4bb6ff;
	border-radius: 30px;
	margin-top: 20px;
	display: inline-block;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.footer-top .purchase-now:hover {
	background-color: #fca413;
}
.footer-bottom {
	background-color: #010004;
	padding: 30px 0;
}
.footer-bottom p {
	color: #aaa;
}
.footer-bottom p>a {
	color: #fff;
}